.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 180px;
    padding: 5px 10px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(165, 165, 165, 0.6);;
    transition: transform 150ms ease, box-shadow 150ms ease;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(165, 165, 165, 0.8);
    transition: transform 150ms ease;
}

.card strong {
    font-size: 16px;
    margin-bottom: 8px;
}

.card p {
    margin: 2px 0;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    white-space: nowrap;
}

.card p {
    margin-top: auto;
}

.card .role {
    font-weight: bold;
    color: #555;
}