.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 180px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.card p {
    margin-top: auto;
    white-space: pre;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.form_change {
    height: 500px;
    width: 500px;
    background-color: white;
}