.filtersAndSort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 0 auto;
}

.filtersAndSort select {
    display: flex;
    width: auto;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.filtersAndSort select:focus {
    border-color: #0056b3;
    outline: none;
}

.filtersAndSort input[type="checkbox"] {
    margin-right: 5px;
}

.filtersAndSort label {
    font-size: 16px;
    white-space: nowrap;
    color: #000000;
    cursor: pointer;
}

.filtersAndSort .checkbox-container {
    display: flex;
    align-items: center;
}

@media (max-width: 570px) {
    .filtersAndSort {
        flex-direction: column;
    }

    .filtersAndSort select{
        width: 100%;
        font-size: 14px;
    }

    .filtersAndSort select option {
        font-size: 12px;
    }

    .filtersAndSort .checkboxContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .filtersAndSort label {
        font-size: 14px;
    }
}